Footer {
    background-color: teal;
    color: white;
    font-size: 12px;
    font-weight: lighter;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    position: absolute;
    /* bottom: 0;
    left: 0;
    right: 0; */
    width: 100%;
    bottom: 0;
}