.imageCard {
    padding: 7px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    background-color: #5891b3;
    border-radius: 5px;
}

.loading {
    border-radius: 2px;
    background: linear-gradient(90deg, rgba(#7299a3, 0.1), rgba(#71aa8e, 0.3), rgba(#73b1a6, 0.1));
    background-size: 600% 600%;
    
    @include animation(sai-card-loading 1.5s ease infinite);
}

.loading Img {
    width: 100%;
}