.loader {
	width: 50px;
	height: 50px;
	margin: 50px 47%;
	border: 1px solid teal;
	border-radius: 50%;
	animation: 1s loader linear infinite;
	position: relative;
	align-content: center;
	&:before {
		content: '';
		display: block;
		width: 0;
		height: 0;
		position: absolute;
		top: -.2em;
		left: 50%;
		border: .2em solid #056363;
		border-radius: 50%;
	}
}

@keyframes loader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
